/* From Uiverse.io by JustCode14 */
/* Light Mode Styles */
html.light {
  --bg-color: #f5f5dc; /* Off-white */
  --text-color: #4f4f4f; /* Grey */
  --accent-color: #800080; /* Purple */
  --header-border-color: #d3d3d3; /* Light grey border */
  --card-bg-color: #ffffff; /* White background for cards */
  --card-border-color: #e0e0e0; /* Light grey border for cards */
  --link-color: #800080; /* Purple for links */
}

/* Theme Switch */
/* The switch - the box around the slider */
.switch {
  font-size: 14px; /* Reduced font size to indirectly affect em units */
  position: relative;
  display: inline-block;
  width: 3em; /* Reduced width */
  height: 1.7em; /* Reduced height */
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2a2a2a;
  transition: 0.4s;
  border-radius: 30px;
  overflow: hidden;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1em; /* Adjusted height */
  width: 1em; /* Adjusted width */
  border-radius: 20px;
  left: 0.4em; /* Adjusted position */
  bottom: 0.35em; /* Adjusted position */
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.81, -0.04, 0.38, 1.5);
  box-shadow: inset 8px -4px 0px 0px #fff;
}

.switch input:checked + .slider {
  background-color: #00a6ff;
}

.switch input:checked + .slider:before {
  transform: translateX(1.3em); /* Adjusted translation */
  box-shadow: inset 15px -4px 0px 15px #ffcf48;
}

.star {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  width: 4px; /* Adjusted size */
  transition: all 0.4s;
  height: 4px; /* Adjusted size */
}

.star_1 {
  left: 2em; /* Adjusted position */
  top: 0.4em; /* Adjusted position */
}

.star_2 {
  left: 1.8em; /* Adjusted position */
  top: 0.9em; /* Adjusted position */
}

.star_3 {
  left: 2.4em; /* Adjusted position */
  top: 0.7em; /* Adjusted position */
}

.switch input:checked ~ .slider .star {
  opacity: 0;
}

.cloud {
  width: 2.5em; /* Adjusted size */
  position: absolute;
  bottom: -1em; /* Adjusted position */
  left: -0.8em; /* Adjusted position */
  opacity: 0;
  transition: all 0.4s;
}

.switch input:checked ~ .slider .cloud {
  opacity: 1;
}